.about-me {
    padding: 35px 70px 0px 70px;
    background-color: #140800;
}

.about-me__description-text {
    margin-left: 50px;
    background-image: url(../../../images/ramka.svg);
    background-size: 400px;
    background-repeat: no-repeat;

}

.about-me__heading {
    margin-bottom: 66px;
}

.about-me__description {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    background-image: radial-gradient(600px 450px, #ffffff, #140800);
    border: 7px #585858;
    border-style: ridge;
}

.about-me__description-title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin: 0;
    padding-top: 110px;
    padding-left: 45px;
}

.about-me__description-subtitle {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 10px 0 18px 30px;
}

.about-me__description-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    max-width: 300px;
    min-height: 108px;
    padding-left: 55px;
}

.about-me__description-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 20px;
    transition: opacity 0.3s;
}

.about-me__description-link:hover {
    opacity: 0.7;
}

.about-me__description-photo {
    border-radius: 8px;
    width: 320px;
    height: 450px;
    border: 7px #140800;
    border-style: double;
    box-shadow: 0px 5px 20px 20px rgb(14 8 0 / 80%);
}

@media(max-width: 1280px) {
    .about-me__description {
        display: flex;
        justify-content: flex-start;
        max-width: 1280px;
        margin: 0 auto;
        background: linear-gradient(to right, #fcfcfc, #585858);
        border: 7px #585858;
        border-style: ridge;
    }

    .about-me__description-text {
        margin-left: 130px;
        background-image: url(../../../images/ramka.svg);
        background-size: 400px;
        background-repeat: no-repeat;

    }
}

@media(max-width: 1100px) {
    .about-me__description {
        background: linear-gradient(to right, #fcfcfc, #747474);
    }

    .about-me__description-text {
        margin-left: 70px;
    }
}

@media(max-width: 1000px) {
    .about-me__description {
        background: linear-gradient(to right, #ffffff, #7e7e7e);
    }

    .about-me__description-text {
        margin-left: 50px;
    }
}

@media(max-width: 968px) {
    .about-me__description {
        background: linear-gradient(to right, #ffffff, #7e7e7e);
    }

    .about-me__description-text {
        margin-left: 50px;
    }

    .about-me__description-text {
        margin-left: 10px;
        background-size: 350px;
    }

    .about-me__description-title {
        font-size: 35px;
        padding-top: 90px;
    }

    .about-me__description-subtitle {
        font-size: 35px;
        line-height: 35px;
        margin: 10px 0 18px 60px;
    }

    .about-me__description-paragraph {
        font-size: 14px;
        line-height: 15px;
        max-width: 280px;
        margin: 0 auto;
        padding-left: 10px;
        margin: 10px 0 18px 30px;
    }
}



@media(max-width: 900px) {
    .about-me {
        padding: 30px 50px;
    }

    .about-me__description {
        background: linear-gradient(to right, #ffffff, #525252);
    }

    .about-me__description-title {
        font-size: 25px;
        line-height: 30px;
        padding-left: 35px;
        padding-top: 70px;
    }

    .about-me__description-subtitle {
        font-size: 25px;
        line-height: 30px;
        margin-left: 50px;
        margin: 10px 0 10px 60px;
    }

    .about-me__description-paragraph {
        font-size: 11px;
        line-height: 15px;
        max-width: 200px;
        margin: 0 auto;
        padding-left: 0;
    }

    .about-me__description-photo {
        width: 230px;
        height: 307px;
    }

    .about-me__portfolio-link {
        font-size: 28px;
    }

    .about-me__description-text {
        margin-left: 100px;
        background-image: url(../../../images/ramka.svg);
        background-size: 270px;
        background-repeat: no-repeat;

    }
}

@media(max-width: 800px) {
    .about-me__description {
        background: linear-gradient(to right, #ffffff, #686868);
    }
}

@media(max-width: 768px) {
    .about-me {
        padding: 30px 50px 20px;
    }
}

@media(max-width: 800px) {
    .about-me__description {
        background: linear-gradient(to right, #ffffff, #686868);
    }
}

@media(max-width: 740px) {
    .about-me__description-text {
        margin-left: 50px;
    }

    .about-me__description {
        background: linear-gradient(to right, #ffffff, #747474);
    }
}

@media(max-width: 720px) {
    .about-me {
        padding: 30px 14px 20px;
    }

    .about-me__description {
        align-items: center;
        margin: 0;
        background: linear-gradient(to right, #ffffff, #787878);
    }

    .about-me__heading {
        margin-bottom: 66px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-me__description-photo {
        width: 250px;
        height: 352px;
    }

    .about-me__description-title {
        font-size: 25px;
        line-height: 36px;
        margin-bottom: 0px;
        padding-top: 60px;
    }

    .about-me__description-subtitle {
        font-size: 25px;
        line-height: 25px;
        margin: 10px 0 10px 60px;
    }

    .about-me__description-paragraph {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 35px;
        max-width: 150px;
    }

    .about-me__portfolio-heading {
        font-size: 14px;
        line-height: 20px;
    }
}

@media(max-width: 680px) {


    .about-me__description {
        margin: 0;
        background: linear-gradient(to right, #ffffff, #7e7e7e);
        align-items: center;
    }

    .about-me__description-photo {
        width: 240px;
        height: 330px;
    }
}

@media(max-width: 660px) {
    .about-me__description-text {
        margin-left: 20px;

    }

    .about-me__description {
        margin: 0;
        background: linear-gradient(to right, #ffffff, #858383);
        align-items: center;
    }

    .about-me__description-photo {
        width: 240px;
        height: 330px;
    }

    .about-me__description-text {
        margin-left: 0px;
        background-image: url(../../../images/ramka.svg);
        background-size: 270px;
        background-repeat: no-repeat;
    }

}

@media(max-width: 600px) {

    .about-me__description-photo {
        width: 280px;
        height: 330px;
    }

    .about-me__description-text {
        margin-left: 0px;
        background-image: url(../../../images/ramka.svg);
        background-size: 270px;
        background-repeat: no-repeat;
    }
}

@media(max-width: 590px) {
    .about-me__description-text {
        background-size: 260px;

    }
}


@media(max-width: 584px) {
    .about-me__description-paragraph {
        font-size: 9px;
        margin-bottom: 35px;
        max-width: 160px;
    }

}

@media(max-width: 570px) {
    .about-me__description-text {
        background-size: 240px;
        align-items: center;
    }

    .about-me__description-title {
        padding-left: 20px;
    }
}

@media(max-width: 550px) {

    .about-me__description {
        margin: 0 auto;
        display: block;
        background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7)), url(../../../images/valeria__photo-2.jpg) center no-repeat;
        background-size: cover;
        max-width: 350px;
        height: 440px;
    }

    .about-me__description-photo {
        display: none;
    }

    .about-me__description-text {
        margin-left: 50px;
        margin-top: 50px;
        background-image: url(../../../images/ramka.svg);
        background-size: 250px;
        background-repeat: no-repeat;
    }
}

@media(max-width: 470px) {

    .about-me__description-title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 0px;
        padding-top: 60px;
    }

    .about-me__description-subtitle {
        font-size: 20px;
        line-height: 25px;
        margin: 10px 0 10px 60px;
    }

    .about-me__description-text {
        width: 250px;
        top: 220px;
        left: 80px;
    }
}

@media(max-width: 400px) {

    .about-me__description {
        max-width: 330px;
        height: 410px;
    }

    .about-me__description-text {
        width: 280px;
        top: 230px;
        left: 50px;
    }

    .about-me__description-photo {
        width: 100%;
    }
}

@media(max-width: 375px) {

    .about-me__description-text {
        width: 250px;
        top: 230px;
        left: 50px;
    }
}

@media(max-width: 320px) {

    .about-me__description {
        border: 7px #585858;
        border-style: ridge;
        max-width: 280px;
        height: 350px;
    }


    .about-me__description-text {
        width: 250px;
        top: 220px;
        left: 50px;
    }

    .about-me__description-photo {
        width: 100%;
        height: 330px;
    }

    .about-me {
        padding: 30px 0px 20px 0px;
    }

    .about-me__description-title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 0px;
        padding-top: 60px;
    }

    .about-me__description-subtitle {
        font-size: 20px;
        line-height: 25px;
        margin: 10px 0 10px 60px;
    }
}