.about-me {
    padding: 35px 70px 0px 70px;
    background-color: #202020;
}

.about-me__description-text {
    margin-left: 70px;
    background-image: url(../../../images/ramka.svg);
    background-size: 400px;
    background-repeat: no-repeat;

}

.about-me__heading {
    margin-bottom: 66px;
}

.about-me__description {
    display: flex;
    justify-content: flex-start;
    max-width: 1280px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #fcfcfc, #4a4747);
    border: 7px #585858;
    border-style: ridge;
}

.about-me__description-title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin: 0;
    padding-top: 110px;
    padding-left: 45px;
}

.about-me__description-subtitle {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 10px 0 18px 30px;
}

.about-me__description-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    max-width: 300px;
    min-height: 108px;
    padding-left: 55px;
}

.about-me__description-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 20px;
    transition: opacity 0.3s;
}

.about-me__description-link:hover {
    opacity: 0.7;
}

.about-me__description-photo {
    border-radius: 0px;
    width: 370px;
    height: 450px;
}

@media(max-width: 1280px) {
    .about-me__description {
        display: flex;
        justify-content: flex-start;
        max-width: 1280px;
        margin: 0 auto;
        background-image: linear-gradient(to right, #fcfcfc, #585858);
        border: 7px #585858;
        border-style: ridge;
    }

    .about-me__description-text {
        margin-left: 130px;
        background-image: url(../../../images/ramka.svg);
        background-size: 400px;
        background-repeat: no-repeat;

    }
}

@media(max-width: 1100px) {
    .about-me__description {
        background-image: linear-gradient(to right, #fcfcfc, #747474);
    }

    .about-me__description-text {
        margin-left: 70px;
    }
}

@media(max-width: 1000px) {
    .about-me__description {
        background-image: linear-gradient(to right, #ffffff, #7e7e7e);
    }

    .about-me__description-text {
        margin-left: 50px;
    }
}


@media(max-width: 900px) {
    .about-me {
        padding: 90px 50px;
    }

    .about-me__description {
        background-image: linear-gradient(to right, #ffffff, #525252);
    }

    .about-me__description-title {
        font-size: 25px;
        line-height: 30px;
        padding-left: 35px;
        padding-top: 70px;
    }

    .about-me__description-subtitle {
        font-size: 25px;
        line-height: 30px;
        margin-left: 50px;
        margin: 10px 0 10px 60px;
    }

    .about-me__description-paragraph {
        font-size: 11px;
        line-height: 15px;
        max-width: 200px;
        margin: 0 auto;
        padding-left: 0;
    }

    .about-me__description-photo {
        width: 255px;
        height: 307px;
    }

    .about-me__portfolio-link {
        font-size: 28px;
    }

    .about-me__description-text {
        margin-left: 70px;
        background-image: url(../../../images/ramka.svg);
        background-size: 270px;
        background-repeat: no-repeat;

    }
}

@media(max-width: 800px) {
    .about-me__description {
        background-image: linear-gradient(to right, #ffffff, #686868);
    }
}

@media(max-width: 768px) {
    .about-me {
        padding: 60px 50px 0;
    }
}

@media(max-width: 720px) {
    .about-me {
        padding: 70px 14px 0px;
    }

    .about-me__description {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .about-me__heading {
        margin-bottom: 66px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-me__description-photo {
        order: -1;
        width: 292px;
        height: 352px;
        margin: 0 auto 40px auto;
    }

    .about-me__description-title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .about-me__description-subtitle {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .about-me__description-paragraph {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 35px;
    }

    .about-me__portfolio-heading {
        font-size: 14px;
        line-height: 20px;
    }


}