.auth__error {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    min-height: 12px;
}

.emailjs__close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url(../../images/close.svg);
    background-color: unset;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.emailjs {
    position: relative;
    margin: 20px auto;
    background-color: white;
    border-radius: 15px;
    max-width: 450px;
}


.emailjs__close:hover {
    opacity: 0.6;
}

.auth__submit-button {
    background-color: #2BE080;
    border-radius: 3px;
    border: none;
    width: 410px;
    height: 45px;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.auth__submit-button_disabled {
    background-color: #e1e1e1;
    color: #7e7e7e;
    width: 410px;
}

.auth__submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
}


.emailjs__title {
    color: #140800;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.emailjs__text_2 {
    color: #140800;
    font-size: 20px;
    margin: 20px 0 10px 0;
    width: 400px;
    text-align: center;
}

.emailjs__text {
    color: #140800;
    font-size: 20px;
    text-align: center;
    margin: 10px 0 20px 0;
}

.emailjs__message {
    background-color: #F8F8F8;
    width: 400px;
    margin: 0 auto;
    min-height: 200px;
    border-radius: 20px;
}

.emailjs__textarea {
    width: 400px;
    height: 300px;
}

.emailjs__form {
    padding-left: 23px;
}

.emailjs__input {
    width: 400px;
}

.emailjs__iqons {
    margin-left: 0px;
}

@media(max-width: 550px) {
    .emailjs {
        max-width: 350px;
    }

    .emailjs__input {
        width: 300px;
    }

    .emailjs__textarea {
        width: 300px;
        height: 200px;
    }

    .auth__submit-button_disabled {
        width: 310px;
    }

    .emailjs__text_2 {
        width: 300px;
    }
}

@media(max-width: 400px) {

    .emailjs {
        max-width: 300px;
    }

    .emailjs__title {
        font-size: 22px;
    }

    .emailjs__text {
        font-size: 18px;
    }

    .emailjs__text_2 {
        font-size: 18px;
        margin: 20px 0 10px 0;
        width: 280px;
        text-align: center;
    }

    .emailjs__form {
        padding-left: 10px;
    }

    .emailjs__input {
        width: 270px;
    }

    .emailjs__textarea {
        width: 270px;
        height: 180px;
    }

    .auth__submit-button_disabled {
        width: 280px;
    }

    .auth__submit-button {
        width: 280px;
    }

    .emailjs__iqons {
        margin-left: 15px;
    }

}