.consultation__description-photo {
    width: 600px;
    height: 400px;
}

.consultation__description {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.consultation {
    width: 1300px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: radial-gradient(2500px 1000px, #ffffff, #140800);
    border: 7px #585858;
    border-style: ridge;
}

.consultation__logo {
    width: 50px;
    height: 50px;
    margin: 0 15px;
}

.consultation__title {
    font-size: 35px;
    color: #140800;
    margin: 50px 0 10px 20px
}

.consultation__phone {
    color: #140800;
    font-size: 25px;
    width: 500px;
    margin: 10px 0 15px 20px
}

.iqons__consultation {
    width: 400px;
    margin: 50px auto;
}

@media(max-width: 1350px) {
    .consultation {
        width: 1200px;
    }
}

@media(max-width: 1220px) {
    .consultation {
        width: 1100px;
    }

    .consultation__description-photo {
        width: 500px;
        height: 400px;
    }
}

@media(max-width: 1150px) {
    .consultation__phone {
        width: 450px;
    }

    .consultation__description-photo {
        width: 580px;
        height: 450px;
    }

    .consultation {
        width: 1000px;
    }

    .consultation__description-photo {
        width: 500px;
        height: 450px;
    }
}

@media(max-width: 1050px) {
    .consultation__description {
        width: 400px;
    }

    .consultation__description-photo {
        width: 500px;
        height: 470px;
    }

    .consultation {
        width: 900px;
    }
}

@media(max-width: 940px) {
    .consultation__description {
        width: 350px;
    }

    .consultation__description-photo {
        width: 450px;
        height: 400px;
    }

    .consultation {
        width: 800px;
    }

    .consultation__description {
        width: 350px;
        margin: 0;
    }

    .iqons__consultation {
        width: 330px;
        margin: 10px auto;
    }

    .consultation__logo {
        width: 45px;
        height: 45px;
        margin: 0 10px;
    }

    .consultation__phone {
        width: 300px;
        margin: 10px 0 10px 20px;
    }
}

@media(max-width: 830px) {
    .consultation {
        width: 700px;
    }

    .consultation__description {
        width: 280px;
        margin: 0;
    }

    .consultation__title {
        font-size: 30px;
    }

    .consultation__phone {
        width: 250px;
        font-size: 20px;
    }

    .consultation__logo {
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }

    .iqons__consultation {
        width: 250px;
        margin: 25px auto;
    }

    .consultation__description-photo {
        width: 430px;
        height: 400px;
    }
}

@media(max-width: 740px) {
    .consultation {
        flex-direction: column-reverse;
        width: 650px;
        margin: 15px auto 0;
    }

    .consultation__description-photo {
        width: 100%;
        height: 400px;
    }

    .consultation__description {
        width: 500px;
        margin: 0 auto;
    }

    .consultation__phone {
        width: 450px;
        font-size: 20px;
    }

    .consultation__title {
        margin: 30px 0 10px 20px;
    }

    .iqons__consultation {
        width: 350px;
        margin: 10px auto;
    }

    .consultation__logo {
        width: 45px;
        height: 45px;
        margin: 0 10px;
    }
}

@media(max-width: 680px) {
    .consultation {
        width: 600px;
    }
}

@media(max-width: 650px) {
    .consultation {
        width: 570px;
    }
}

@media(max-width: 600px) {
    .consultation {
        width: 500px;
    }

    .consultation__description-photo {
        width: 100%;
        height: 320px;
    }
}

@media(max-width: 550px) {
    .consultation__description {
        width: 400px;
        margin: 0;
    }

    .price-title {
        line-height: 25px;
    }

    .consultation {
        width: 450px;
    }

    .consultation__description-photo {
        width: 100%;
        height: 290px;
    }

    .price__description {
        margin: 0 auto;
        width: 400px;
        background-color: white;
    }
}

@media(max-width: 490px) {
    .consultation {
        width: 400px;
    }

    .consultation__description-photo {
        width: 100%;
        height: 250px;
    }

    .consultation__phone {
        width: 390px;
        font-size: 20px;
    }
}

@media(max-width: 430px) {
    .consultation {
        width: 350px;
    }

    .consultation__description {
        width: 100%;
    }

    .consultation__description-photo {
        width: 100%;
        height: 220px;
    }

    .consultation__title {
        font-size: 25px;
    }

    .iqons__consultation {
        width: 330px;
        margin: 10px;
    }
}

@media(max-width: 390px) {
    .consultation__title {
        font-size: 23px;
        width: 280px;
        margin: 30px auto 10px;
    }
}


@media(max-width: 380px) {
    .consultation {
        width: 340px;
    }
}

@media(max-width: 375px) {
    .consultation {
        width: 320px;
    }

    .iqons__consultation {
        width: 300px;
        margin: 10px;
    }

    .consultation__logo {
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }

    .consultation__phone {
        width: 300px;
        margin: 10px 0 10px 10px;
    }
}

@media(max-width: 335px) {
    .consultation {
        width: 295px;
    }

    .consultation__description-photo {
        width: 100%;
        height: 190px;
    }

    .consultation__title {
        margin: 20px 0 10px 10px;
        font-size: 23px;
    }

    .consultation__phone {
        width: 280px;
        font-size: 18px;
        margin: 10px 0 10px 10px
    }

    .iqons__consultation {
        width: 250px;
        margin: 10px 20px;
    }

    .consultation__logo {
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }
}