.consultation__description-photo {
    width: 600px;
    height: 400px;
}

.consultation__description {
    display: flex;
    flex-direction: column;
}

.consultation {
    width: 1300px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.consultation__logo {
    width: 50px;
    height: 50px;
}