.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s linear 0s;
}

.popup__figure {
    position: relative;
    max-width: 85vw;
    max-height: 85vh;
    width: auto;
    margin: 20px auto;
}


.popup_opened {
    visibility: visible;
    opacity: 1;
}

.popup__container {
    max-width: 100%;
    max-height: 85vh;
    margin: 40px auto 0;
    padding: 0;
    width: auto;
    object-fit: cover;
    display: block;
}

.popup__close {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url(../../images/close.svg);
    background-color: unset;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
}