.portfolio-card-list {
    justify-content: center;
    align-items: center;
    padding: 70px 70px 30px;
    box-sizing: border-box;
}

.elements {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}