.portfolionav__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 50px;
    opacity: 0.6;
    position: relative;
    align-items: center;
    height: 100%;
    display: flex;

}

.portfolionav__menu {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    align-items: center;
    height: 70px;
}