.servicesme {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #140800;
    padding-top: 15px;
}

.servicesme__description {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: 7px #585858;
    border-style: ridge;
    width: 1300px;
    margin: 0 auto 10px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.servicesme__elements {
    width: 500px;
    margin: 10px auto 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
}

.servicesme__title {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin: 30px auto 30px;
    color: #140800;
    width: 100%;
    text-decoration: none;
}

.servicesme__title2 {
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    margin: 30px auto 30px;
    color: #140800;
    width: 200px;
    border-bottom: 3px solid #140800;
    padding-bottom: 0px;
}



.servicesme__title2:hover {
    text-shadow: 0px 0px 0px #140800, 0 0 1.0em #140800, 0 0 0.8em #140800;
}

.servicesme__text {
    font-weight: 900;
    font-size: 20px;
    color: #140800;
    width: 700px;
    padding-left: 20px;
    margin: 40px 0;
    line-height: 25px;
}

.servicesme-title {
    width: 100%;
    text-decoration: none;
}

.servicesme-description {
    width: 100%;
}

.servicesme-title-content {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.serv-title {
    font-size: 20px;
    color: #140800;
}

.servicesme-line {
    border-bottom-color: #d2d2d2;
    border-bottom-width: 2px;
    display: flex;
    flex-direction: row;
    width: 150px;
    border-bottom-style: dotted;
}

.servicesme-line-style-dotted {
    border-bottom-style: dotted;
}

.servicesme-price {
    font-size: 18px;
    color: #140800;
}

.servicesme__content {
    margin: 60px auto 0;
}

.servicesme__title3 {
    font-size: 23px;
    color: #140800;
    margin: 10px auto;
    line-height: 25px;
}

.servicesme__value {
    display: flex;
}

@media(max-width: 1350px) {
    .servicesme__description {
        max-width: 1200px;
    }

    .servicesme__elements {
        width: 480px;
        column-gap: 10px;
        row-gap: 10px;
    }
}

@media(max-width: 1220px) {
    .servicesme__description {
        max-width: 1100px;
    }

    .servicesme-description {
        max-width: 600px;
    }

    .servicesme__elements {
        width: 480px;
        column-gap: 10px;
        row-gap: 10px;
    }

    .servicesme__text {
        max-width: 600px;
    }
}

@media(max-width: 1150px) {
    .servicesme__description {
        max-width: 1000px;
    }

    .servicesme-description {
        max-width: 520px;
    }

    .servicesme__text {
        max-width: 500px;
    }
}