.servicesme {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #140800;
    padding-top: 15px;
}

.servicesme__description {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: 7px #585858;
    border-style: ridge;
    width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
}

.servicesme__elements {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
}

.servicesme__title {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin: 30px auto 30px;
    color: #140800;
    width: 100%;
    text-decoration: none;
}

.servicesme__text {
    font-weight: 900;
    font-size: 20px;
    color: #140800;
    width: 700px;
    padding-left: 20px;
    margin: 40px 0;
}

.servicesme-title {
    width: 100%;
}

.servicesme-description {
    width: 100%;
}

.servicesme-title-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.serv-title {
    font-size: 18px;
    color: #140800;
}

.servicesme-line {
    border-bottom-color: #d2d2d2;
    border-bottom-width: 2px;
    display: flex;
    flex-direction: row;
    width: 100px;
    border-bottom-style: dotted;
}

.servicesme-line-style-dotted {
    border-bottom-style: dotted;
}