.nav-menu__menu-adapt {
    height: 44px;
    width: 44px;
    background-image: url(../../images/menu.svg);
    cursor: pointer;
    display: none;
    position: relative;
    opacity: 0.8;
}

.nav-menu__menu-adapt:hover {
    opacity: 1.0;
}

.nav__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    align-items: center;
    height: 70px;
}

.nav__link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    opacity: 0.6;
    position: relative;
    align-items: center;
    height: 100%;
    display: flex;
}

.nav__link:hover~.submenu {
    display: block;
}


.active {
    font-weight: 500;
}

.submenu__link {
    text-decoration: none;
    list-style-type: none;
}

.submenu {
    text-decoration: none;
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 550px;
    top: 40px;
}

@media screen and (max-width: 1280px) {
    .nav__link {
        margin-right: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .nav__link {
        margin-right: 20px;
    }
}

@media screen and (max-width: 900px) {
    .nav__link {
        margin-right: 20px;
    }

    .nav__menu {
        font-size: 17px;
        line-height: 20px;
    }
}


@media screen and (max-width: 768px) {
    .nav__link {
        margin-right: 20px;
    }

    .nav__menu {
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (max-width: 650px) {
    .nav__link {
        margin-right: 10px;
    }

    .nav__menu {
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (max-width: 600px) {
    .nav-menu__menu-adapt {
        display: block;
    }

    .nav__menu {
        display: none;
    }
}

@media screen and (max-width: 320px) {

    .nav-menu__menu-adapt {
        width: 40px;
        height: 43px;
        background-size: contain;
        background-position: center;
    }
}