.header {
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
}

.header__logo {
    height: 80px;
    cursor: pointer;
}