.header {
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 170px;
    padding-right: 100px;
}

.header__logo {
    height: 70px;
    cursor: pointer;
}