.services__list {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    padding: 30px 0 80px;
    margin: 0;
}

.services__description {
    max-width: 1400px;
    margin: 0 auto;
    background-image: url(../../../images/www.jpg);
    background-size: cover;
    background-position: center;
    border: 7px #585858;
    border-style: ridge;
    padding: 40px 0;
}

.min-width {
    display: none;
}

.services-title {
    margin: 0 auto;
    border-radius: 10px;
    width: 350px;
    padding: 20px 0;
    background-image: url(../../../images/bbb.png);
    background-size: cover;
}

.services__links-3 {
    align-self: flex-end;
    margin-top: 100px;
}

.services__links-4 {
    align-self: center;
}

.services__links {
    align-self: center;
}

.services__name {
    text-align: center;
    margin: 0;
    color: #140800;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
    min-width: 250px;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 10px;
    background-image: url(../../../images/bbb.png);
    background-size: cover;
}

.services__title {
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    line-height: 45px;
    margin: 0;
    color: #140800;
}

.services {
    margin: 0 auto;
    background-color: #140800;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.img_services_1 {
    text-decoration: none;
}

.services__link {
    text-decoration: none;
    height: 300px;
    width: 250px;
}

.img_services {
    width: 250px;
    height: 300px;
    border-radius: 60px;
    box-shadow: 0px 5px 20px 20px rgb(14 8 0 / 80%);
}

.img_services:hover {
    opacity: 1.0;
}

.services__name:hover {
    opacity: 1.0;
    background-image: radial-gradient(150px 50px, #fcd218, #140800);
    box-shadow: 0px 5px 20px 20px rgb(14 8 0 / 80%);
}


@media(max-width: 1400px) {

    .services__description {
        max-width: 1280px;
    }

    .img_services {
        width: 250px;
        height: 300px;
    }
}

@media(max-width: 1350px) {

    .services {}
}

@media(max-width: 1280px) {
    .img_services {
        width: 250px;
        height: 300px;
    }

    .services__description {
        max-width: 1130px;
        background-size: contain;
    }
}

@media(max-width: 1220px) {
    .img_services {
        width: 220px;
        height: 280px;
    }

    .services__name {
        width: 230px;
    }


    .services__link {
        height: 280px;
        width: 220px;
    }
}

@media(max-width: 1100px) {
    .img_services {
        width: 200px;
        height: 250px;
    }

    .services__name {
        width: 200px;
        font-size: 18px;
    }

    .services__link {
        height: 250px;
        width: 200px;
    }



}

@media(max-width: 1000px) {

    .services__description {
        max-width: 840px;
        background-position: bottom;
        background-size: 1500px 600px;
    }

}

@media(max-width: 914px) {
    .services__title {
        font-size: 30px;
        line-height: 30px;
    }

    .services-title {
        width: 250px;
    }
}

@media(max-width: 900px) {
    .services__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 90px 50px;
        width: 600px;
        margin: 0 auto;
    }

    .services__title {
        font-size: 30px;
        line-height: 40px;
    }

    .services__name {
        width: 250px;
        font-size: 18px;
    }

    .img_services {
        width: 250px;
        height: 320px;
    }

    .services__link {
        height: 320px;
        width: 250px;
    }

    .services {
        padding-bottom: 60px;
    }

    .max-width {
        display: none;
    }

    .min-width {
        display: block;
    }

    .services__link {
        place-self: center;
    }

    .services__links-3 {
        margin: 0;
    }
}

@media(max-width: 870px) {
    .services__description {
        max-width: 800px;
    }
}

@media(max-width: 800px) {
    .services__description {
        max-width: 680px;
        background-size: contain;
    }
}

@media(max-width: 740px) {
    .services__description {
        max-width: 630px;
    }

    .img_services {
        width: 200px;
        height: 250px;
    }

    .services__list {
        gap: 50px 50px;
        padding: 40px 0 30px;
    }

    .services__link {
        margin-left: 40px;
    }

    .services__name {
        width: 200px;
        font-size: 16px;
        min-width: 200px;
    }


}

@media(max-width: 680px) {
    .services__list {
        gap: 50px 10px;
    }

}