.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map__description {
    width: 700px;
}

.maps {
    width: 800px;
    height: 435px;
    border-left: 2px #585858;
    border-style: ridge;
}

.map__box {
    display: flex;
    flex-direction: row;
}

.map__communication {
    display: flex;
}