.partners__img {
    width: 150px;
    height: 240px;
}

.partners__description {
    max-width: 1400px;
    margin: 0 auto;
}

@media(max-width: 390px) {
    .partners__img {
        width: 150px;
        height: 150px;
    }
}